<div class="marginTop">
  <img src="../../assets/img/2016091932865251.jpg" width="100%" height="20%" alt="">
</div>
<div class="content-body">
  <div class="invest-introduce">
    <h3>项目介绍</h3>
    <div class="invest-introduce-wrap">
      <p>典当行是一部现代商战、收藏古董类的电视剧，共45集
        ，开机时间为2016/5/5
        ，关机时间：2016/8/7
        ，拍摄周期：95天
        ，拍摄金额：1.3亿人民币</p>
    </div>
  </div>
  <div class="invest-Lineup">
    <h3>团队阵容</h3>
    <div class="invest-Lineup-wrap">
      <p class="performer">
        <span class="title">演员阵容:</span>
        <span>陈宝国, 王刚,周知</span>
      </p>
      <p class="director">
        <span class="title">制作团队:</span>
        <span>赵连城,肖扬,李伟</span>
      </p>
    </div>
  </div>
  <div class="invest-speed">
    <h3>发行进度</h3>
    <div class="invest-speed-wrap">
      <ul>
        <li>正在和北京卫视、江苏卫视、东方卫视、山东卫视洽谈</li>
        <li>北京卫视审核意见中：卫视19点44次日14点30播出，播出时间2018年第二季度</li>
        <li>北京卫视审核意见中：卫视19点44次日14点30播出，播出时间2018年第二季度</li>
        <li>北京卫视审核意见中：卫视19点44次日14点30播出，播出时间2018年第二季度</li>
      </ul>
    </div>
  </div>
</div>
