.marginTop{
  margin-top: 60px;
}
.aboutContTitle{
  font-size:30px;
  font-weight:bold;
  text-align:center;
  //margin-bottom:30px;
  color: #ffffff;
  padding-top: 300px;
}
.hehe{
  width: 100%;
  height: 100%;
}
.bak1{
  background-color: rgba(68, 89, 254, 0.57);
}
.bak2{
  background-color: rgba(45, 177, 90, 0.84);
}
.bak3{
  background-color: rgba(5, 255, 42, 0.3);
}
.bak4{
  background-color: rgba(255, 59, 126, 0.3);
}
.bak5{
  background-color: rgba(48, 172, 255, 0.3);
}
.bak6{
  background-color: rgba(62, 78, 255, 0.3);
}
.bak7{
  background-color: rgba(163, 52, 255, 0.3);
}
.bak8{
  background-color: rgba(255, 70, 140, 0.3);
}
.aboutContVideo{
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  font-size: 22px;
  color: #ffffff;
  text-indent: 44px;
  padding-top: 120px;
}
.cd-fixed-bg {
  min-height: 100% !important;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../../assets/img/cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../../assets/img/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../../assets/img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../../assets/img/cd-background-4.jpg");
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../../assets/img/cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-6 {
  background-image: url("../../assets/img/cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-7 {
  background-image: url("../../assets/img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-8 {
  background-image: url("../../assets/img/cd-background-4.jpg");
}

