<div style="z-index: 999999999999999999" class="float-video" *ngIf="show">
  <h3 (click)="show = false">X</h3>
  <!--<video src=""-->
  <!--autoplay controls width="1200" height="675"></video>-->
  <embed src='http://player.youku.com/player.php/sid/XMTQ1NjIyNTEwNA==/v.swf' allowFullScreen='true' quality='high' width='1200' height='675' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash' />
</div>
<div class="marginTop content-body">
  <!--<video src=""-->
         <!--autoplay controls width="1200" height="675"></video>-->
  <embed src='http://player.youku.com/player.php/sid/XMTQ1NjIyNTEwNA==/v.swf' allowFullScreen='true' quality='high' width='1200' height='675' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash' />
  <div class="videoInfo">
    <div class="videoInfoR">
      <h3>电影创业联盟</h3>
      <p class="info-comment">电影创业联盟 电影创业联盟</p>
      <div class="info-content">
        <b>导演：</b>
        <span>电影创业联盟</span>
        <b>年份：</b>
        <span>电影创业联盟</span>
        <b>地区：</b>
        <span>电影创业联盟</span>
        <b>语言：</b>
        <span>电影创业联盟</span>
        <b>类型：</b>
        <span>电影创业联盟 电影创业联盟</span>
      </div>
      <div class="info-act">
        <b>主演：</b>
        <span>电影创业联盟</span>
      </div>
      <div class="info-desc">
        <b>简介：</b>
        <span class="js-desc">电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</span>
      </div>
    </div>
    <div class="videoInfoL"><img src="../../assets/img/222.jpg" alt="电影创业联盟"></div>
  </div>
  <h3 class="">
    <ul class="newlistTitle">
      <li class="cur">视频</li>
    </ul>
  </h3>
  <div class="shortPlayCont">
    <a class="newscontlist" style="margin-left: 0" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" style="margin-left: 0" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
    <a class="newscontlist" (click)="showFloat()">
      <img src="../../assets/img/111.jpg" alt="电影创业联盟">
      <h3>电影创业联盟</h3>
    </a>
  </div>
  <!--电影推荐-->
  <h3 class="titleBox">
    <span class="titleMain">电影推荐</span>
    <a class="morefont" routerLink="/movies/library">更多 >></a>
  </h3>
  <div class="movieCont">
    <a class="movieInfo" style="margin-left: 0;">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟</h5>
    </a>
  </div>
</div>
