<div class="marginTop">
  <img src="../../assets/img/creative.jpg" alt="" width="100%" height="320">
</div>
<div style="background: #ffffff">
  <div class="content-body">
    <div class="new-creators-one">
      <ul>
        <li>
          <a routerLink="/creative/creator">
            <div class="box1"><img src="//i2.ergengtech.com/business/avatar/2016/09/14/a59d549fc540dccdb03738129fa101e3.jpg_avatar" alt="周磊头像"></div>
            <div class="box2">
              <div>
                <strong>周磊</strong>
              </div>
              <span>导演／上海</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i1.ergengtech.com/business/avatar/2016/08/15/055fa006a9e491cc8a24cae6dfdac443.jpg_avatar" alt="乔永志头像"></div>
            <div class="box2">
              <div>
                <strong>乔永志</strong>
              </div>
              <span>导演／上海</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i1.ergengtech.com/business/avatar/2016/08/17/d1703a8a4656510b9c1c5b697f924c3c.jpg_avatar" alt="赵明头像"></div>
            <div class="box2">
              <div>
                <strong>赵明</strong>
              </div>
              <span>导演／北京</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i1.ergengtech.com/business/avatar/2016/08/21/9f5079a0e108de940208c296cbc0d443.jpg_avatar" alt="王晶晶头像"></div>
            <div class="box2">
              <div>
                <strong>王晶晶</strong>
              </div>
              <span>导演／北京</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i2.ergengtech.com/business/avatar/2016/12/12/3d5a723b32753ae79232548530a5f3b8.jpg_avatar" alt="王明杰头像"></div>
            <div class="box2">
              <div>
                <strong>王明杰</strong>
              </div>
              <span>导演／东城</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i3.ergengtech.com/business/avatar/2016/08/17/d0d3ce25a4881532003ed05701c20972.jpeg_avatar" alt="代欣彤头像"></div>
            <div class="box2">
              <div>
                <strong>代欣彤</strong>
              </div>
              <span>导演／朝阳</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i3.ergengtech.com/business/avatar/2016/08/17/2dce05360ce9e1183cd9e4eab31ca1fb.jpg_avatar" alt="李玉梅头像"></div>
            <div class="box2">
              <div>
                <strong>李玉梅</strong>
              </div>
              <span>导演／北京</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i3.ergengtech.com/business/avatar/2016/08/22/345b54e2fb68aba2bcdecf9b5d58a81f.jpg_avatar" alt="王子宣头像"></div>
            <div class="box2">
              <div>
                <strong>王子宣</strong>
              </div>
              <span>导演／北京</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i3.ergengtech.com/business/avatar/2016/08/17/22d155c9cdc6fb0eddccd7881966fe3f.jpg_avatar" alt="宋杨头像"></div>
            <div class="box2">
              <div>
                <strong>宋杨</strong>
              </div>
              <span>导演／北京</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i1.ergengtech.com/business/avatar/2016/08/17/3b9653845e84ae04e4312c02ecfd4789.jpg_avatar" alt="吕政宇头像"></div>
            <div class="box2">
              <div>
                <strong>吕政宇</strong>
              </div>
              <span>导演／杭州</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i3.ergengtech.com/business/avatar/2016/08/15/dc01716767888d2e81bc9a3c8cc3e843.jpg_avatar" alt="赵雯头像"></div>
            <div class="box2">
              <div>
                <strong>赵雯</strong>
              </div>
              <span>导演／杭州</span>
            </div>
          </a>
        </li>
        <li>
          <a>
            <div class="box1"><img src="//i1.ergengtech.com/business/avatar/2016/08/15/111bfa8d2c7fb5b60183adb1800e987d.jpg_avatar" alt="柳莺头像"></div>
            <div class="box2">
              <div>
                <strong>柳莺</strong>
              </div>
              <span>导演／杭州</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
