<div class="marginTop">
  <div class="top contact">
    <div class="content-body">
      <i></i>
      <div class="title">
      </div>
    </div>
  </div>
  <div class="content-body" id="about_contact">
    <p>花瓣是杭州纬聚网络有限公司旗下网站，任何关于花瓣的意见与建议，以及相关合作事宜，请通过以下方式与我们联系：</p>
    <div class="title">商务及流量合作：</div>
    <p>请发送邮件至<a href="mailto:bd@huaban.com" target="_blank">bd@huaban.com</a></p>
    <div class="title">品牌广告投放：</div>
    <p>请发送邮件至<a href="mailto:brand@huaban.com" target="_blank">brand@huaban.com</a></p>
    <div class="title">其他网内一般事务：</div>
    <p>请私信<a href="/huaban/" target="_blank">@花瓣</a><br>或发送邮件至<a href="mailto:hi@huaban.com" target="_blank">hi@huaban.com</a></p>
    <div class="title">联系客服：</div>
    <p><span class="qiyu chat">在线客服</span></p>
    <div class="line"></div>
    <div class="title">公司地址：</div>
    <p>杭州市西湖区文一西路 98 号 数娱大厦 608 室（邮编：310012）</p>
    <div class="title">增值电信业务经营许可证：</div>
    <p>浙B2-20110282 浙ICP备05049240</p>
  </div>
</div>
