<div id="myCarousel" class="carousel slide marginTop">
  <!-- 轮播（Carousel）指标 -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../assets/img/111.jpg">
    </div>
    <div class="item">
      <img src="../assets/img/111.jpg">
    </div>
    <div class="item">
      <img src="../assets/img/111.jpg">
    </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <a class="carousel-control left" href="#myCarousel"
     data-slide="prev">&lsaquo;
  </a>
  <a class="carousel-control right" href="#myCarousel"
     data-slide="next">&rsaquo;
  </a>
</div>
<div class="content-body">
  <h3 class="titleBox">
    <span class="titleMain">影视片库</span>
    <a class="morefont" routerLink="/movies/library">更多 >></a>
  </h3>
  <a class="movieMainCont" routerLink="/movies/play">
    <div class="movie1">
      <h4 class="movieMainstitle">电影创业联盟</h4>
      <h5 class="moviestitle">电影创业联盟</h5>
      <ul class="moviefont">
        <li>电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</li>
      </ul>
    </div>
    <img class="movieimg1" src="../assets/img/111.jpg" alt="电影创业联盟">
  </a>
  <div class="movieCont">
    <a class="movieInfo" style="margin-left: 0;">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟</h5>
    </a>
  </div>
  <h3 class="titleBox">
    <span class="titleMain">红视频</span>
    <a class="morefont">更多 >></a>
  </h3>
  <a class="movieMainCont">
    <div class="movie1">
      <h4 class="movieMainstitle">电影创业联盟</h4>
      <h5 class="moviestitle">电影创业联盟</h5>
      <ul class="moviefont">
        <li>电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</li>
      </ul>
    </div>
    <img class="movieimg1" src="../assets/img/111.jpg" alt="电影创业联盟">
  </a>
  <div class="movieCont">
    <a class="movieInfo" style="margin-left: 0;">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
    </a>
    <a class="movieInfo">
      <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
      <h4 class="movieInfoMainstitle">电影创业联盟</h4>
      <h5 class="movieInfotitle">电影创业联盟</h5>
    </a>
  </div>
</div>
