<div class="marginTop">
  <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../assets/img/111.jpg">
      </div>
      <div class="item">
        <img src="../assets/img/111.jpg">
      </div>
      <div class="item">
        <img src="../assets/img/111.jpg">
      </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;
    </a>
  </div>
</div>
<div class="news-wrap">
  <div class="content-body">
    <div class="newsList">
      <h3 class="titleBox">
        <span class="titleMain">资讯</span>
      </h3>
      <ul id="lists" class="newslistBox">
        <li class="newslistcont" routerLink="/news/newslist">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨说的“那是你”击中了很多人 北京的日与夜原来我们没有白过</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：丁丁张</span></a>
            <a class="newsListarticle">周冬雨说的“那是你”击中了很多人，北京的日与夜原来我们没有白过……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/330c144ed45dfb81eb68.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨献声丁丁张新书预告片 讲述万千北漂的失意与成长</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：青春光线</span></a>
            <a class="newsListarticle">金马影后周冬雨献声丁丁张新作——小说《只在此刻的拥抱》预告片《那是你》,为大众展现了独自在北京闯荡的女孩们日常生活，以及“北漂”们所经历的困境……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/22799f56a216b4ca0ca9.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨说的“那是你”击中了很多人 北京的日与夜原来我们没有白过</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：丁丁张</span></a>
            <a class="newsListarticle">周冬雨说的“那是你”击中了很多人，北京的日与夜原来我们没有白过……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/330c144ed45dfb81eb68.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨献声丁丁张新书预告片 讲述万千北漂的失意与成长</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：青春光线</span></a>
            <a class="newsListarticle">金马影后周冬雨献声丁丁张新作——小说《只在此刻的拥抱》预告片《那是你》,为大众展现了独自在北京闯荡的女孩们日常生活，以及“北漂”们所经历的困境……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/22799f56a216b4ca0ca9.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨说的“那是你”击中了很多人 北京的日与夜原来我们没有白过</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：丁丁张</span></a>
            <a class="newsListarticle">周冬雨说的“那是你”击中了很多人，北京的日与夜原来我们没有白过……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/330c144ed45dfb81eb68.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨献声丁丁张新书预告片 讲述万千北漂的失意与成长</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：青春光线</span></a>
            <a class="newsListarticle">金马影后周冬雨献声丁丁张新作——小说《只在此刻的拥抱》预告片《那是你》,为大众展现了独自在北京闯荡的女孩们日常生活，以及“北漂”们所经历的困境……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/22799f56a216b4ca0ca9.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨说的“那是你”击中了很多人 北京的日与夜原来我们没有白过</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：丁丁张</span></a>
            <a class="newsListarticle">周冬雨说的“那是你”击中了很多人，北京的日与夜原来我们没有白过……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/330c144ed45dfb81eb68.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨献声丁丁张新书预告片 讲述万千北漂的失意与成长</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：青春光线</span></a>
            <a class="newsListarticle">金马影后周冬雨献声丁丁张新作——小说《只在此刻的拥抱》预告片《那是你》,为大众展现了独自在北京闯荡的女孩们日常生活，以及“北漂”们所经历的困境……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/22799f56a216b4ca0ca9.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨说的“那是你”击中了很多人 北京的日与夜原来我们没有白过</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：丁丁张</span></a>
            <a class="newsListarticle">周冬雨说的“那是你”击中了很多人，北京的日与夜原来我们没有白过……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/330c144ed45dfb81eb68.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨献声丁丁张新书预告片 讲述万千北漂的失意与成长</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：青春光线</span></a>
            <a class="newsListarticle">金马影后周冬雨献声丁丁张新作——小说《只在此刻的拥抱》预告片《那是你》,为大众展现了独自在北京闯荡的女孩们日常生活，以及“北漂”们所经历的困境……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/22799f56a216b4ca0ca9.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨说的“那是你”击中了很多人 北京的日与夜原来我们没有白过</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：丁丁张</span></a>
            <a class="newsListarticle">周冬雨说的“那是你”击中了很多人，北京的日与夜原来我们没有白过……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/330c144ed45dfb81eb68.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
        <li class="newslistcont">
          <span class="newsListFont">
            <a class="newsListmaintitle">周冬雨献声丁丁张新书预告片 讲述万千北漂的失意与成长</a>
            <a class="newsListInfo"><span>2018-03-14</span><span> 文章来源：青春光线</span></a>
            <a class="newsListarticle">金马影后周冬雨献声丁丁张新作——小说《只在此刻的拥抱》预告片《那是你》,为大众展现了独自在北京闯荡的女孩们日常生活，以及“北漂”们所经历的困境……</a>
          </span>
          <a class="newsListimg">
            <img src="http://img.ewang.com/22799f56a216b4ca0ca9.jpg?x-oss-process=style/hengtu" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="recommendMovieBox">
      <h3 class="titleBox">
        <span style="margin-left: 20px" class="titleMain">影视推荐</span>
      </h3>
      <ul class="recommendMovie">
        <li>
          <a class="recommendMovieImg"> <img src="http://img.ewang.com/a94ee60b94a591263c35.jpg" alt=""></a>
          <a class="recommendMovietitle">你的名字。</a>
          <span class="recommendMoviesubtitle">导演:新海诚</span>
          <span class="recommendMoviesubtitle">主演:神木隆之介、上白石萌音</span>
          <span class="recommendMoviesubtitle">上映日期:2016-12-02</span>
        </li>
        <li>
          <a class="recommendMovieImg"> <img src="http://img.ewang.com/fd48218e4e44d83e4f8e.jpg" alt=""></a>
          <a class="recommendMovietitle">三生三世十里桃花</a>
          <span class="recommendMoviesubtitle">导演:赵小丁、安东尼·拉默里纳拉</span>
          <span class="recommendMoviesubtitle">主演:刘亦菲、杨洋、罗晋、严屹宽、李纯、顾璇、彭子苏</span>
          <span class="recommendMoviesubtitle">上映日期:2017-08-03</span>
        </li>
        <li>
          <a class="recommendMovieImg"> <img src="http://img.ewang.com/0f8d0e41a5dd3207e11a.jpg" alt=""></a>
          <a class="recommendMovietitle">重返·狼群</a>
          <span class="recommendMoviesubtitle">导演:亦风</span>
          <span class="recommendMoviesubtitle">主演:李微漪、亦风</span>
          <span class="recommendMoviesubtitle">上映日期:2017-06-16</span>
        </li>
        <li>
          <a class="recommendMovieImg"> <img src="http://img.ewang.com/b806c7ef46d47536a2fc.jpg" alt=""></a>
          <a class="recommendMovietitle">春娇救志明</a>
          <span class="recommendMoviesubtitle">导演:彭浩翔</span>
          <span class="recommendMoviesubtitle">主演:杨千嬅、余文乐</span>
          <span class="recommendMoviesubtitle">上映日期:2017-04-28</span>
        </li>
      </ul>
    </div>
  </div>
</div>
