<div id="haha">
  <div>
    <div id="myCarousel" class="carousel slide">
      <!-- 轮播（Carousel）指标 -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../assets/img/111.jpg">
        </div>
        <div class="item">
          <img src="../assets/img/111.jpg">
        </div>
        <div class="item">
          <img src="../assets/img/111.jpg">
        </div>
      </div>
      <!-- 轮播（Carousel）导航 -->
      <a class="carousel-control left" href="#myCarousel"
         data-slide="prev">&lsaquo;
      </a>
      <a class="carousel-control right" href="#myCarousel"
         data-slide="next">&rsaquo;
      </a>
    </div>
  </div>
  <div class="content-body">
    <div>
      <!--咨询热点-->
      <h3 class="titleBox">
        <span class="titleMain">资讯热点</span>
        <a class="morefont">更多 >></a>
      </h3>
      <div class="newscont">
        <div class="newscontL">
          <a class="newscontL1">
            <img class="newsimg1" src="../assets/img/111.jpg" alt="电影创业联盟">
            <div class="news1">
              <h4 class="newsMainstitle">电影创业联盟</h4>
              <h5 class="newsstitle">电影创业联盟</h5>
              <p class="newsfont">电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</p>
            </div>
          </a>
          <a class="newscontL2">
            <img class="newsimg2" src="../assets/img/111.jpg" alt="电影创业联盟">
            <div class="news2">
              <h4 class="newsMainstitle">电影创业联盟</h4>
              <h5 class="newsstitle">电影创业联盟</h5>
              <p class="newsfont">电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</p>
            </div>
          </a>
          <a class="newscontL3">
            <div class="news3">
              <h4 class="newsMainstitle">电影创业联盟</h4>
              <h5 class="newsstitle">电影创业联盟</h5>
              <p class="newsfont">电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</p>
            </div>
            <img class="newsimg3" src="../assets/img/111.jpg" alt="电影创业联盟">
          </a>
        </div>
        <div class="newscontC">
          <a class="newscontC1">
            <img class="newsimg4" src="../assets/img/111.jpg" alt="电影创业联盟">
            <div class="news4">
              <h4 class="newsMainstitle">电影创业联盟</h4>
              <h5 class="newsstitle">电影创业联盟</h5>
              <p class="newsfont">电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</p>
            </div>
          </a>
          <a class="newscontC2">
            <div class="news5">
              <h4 class="newsMainstitle">电影创业联盟</h4>
              <h5 class="newsstitle">电影创业联盟</h5>
              <p class="newsfont">电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</p>
            </div>
            <img class="newsimg5" src="../assets/img/111.jpg" alt="电影创业联盟">
          </a>
        </div>
        <div class="newscontR">
          <a class="newscontR1">
            <img class="newsimg6" src="../assets/img/111.jpg" alt="电影创业联盟">
            <div class="news6">
              <h4 class="newsMainstitle">电影创业联盟</h4>
              <h5 class="newsstitle">电影创业联盟</h5>
              <p class="newsfont">电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</p>
            </div>
          </a>
          <a class="newscontR2">
            <img class="newsimg6" src="../assets/img/111.jpg" alt="电影创业联盟">
            <div class="news6">
              <h4 class="newsMainstitle">电影创业联盟</h4>
              <h5 class="newsstitle">电影创业联盟</h5>
              <p class="newsfont">电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</p>
            </div>
          </a>
        </div>
      </div>
      <!--电影-->
      <h3 class="titleBox">
        <span class="titleMain">电影</span>
        <a class="morefont" routerLink="/movies">更多 >></a>
      </h3>
      <a class="movieMainCont">
        <div class="movie1">
          <h4 class="movieMainstitle">电影创业联盟</h4>
          <h5 class="moviestitle">电影创业联盟</h5>
          <ul class="moviefont">
            <li>电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟电影创业联盟</li>
          </ul>
        </div>
        <img class="movieimg1 img-responsive" src="../assets/img/111.jpg" alt="电影创业联盟">
      </a>
      <div class="movieCont">
        <a class="movieInfo" style="margin-left: 0;">
          <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
          <h4 class="movieInfoMainstitle">电影创业联盟</h4>
          <h5 class="movieInfotitle">电影创业联盟</h5>
        </a>
        <a class="movieInfo">
          <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
          <h4 class="movieInfoMainstitle">电影创业联盟</h4>
          <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
        </a>
        <a class="movieInfo">
          <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
          <h4 class="movieInfoMainstitle">电影创业联盟</h4>
          <h5 class="movieInfotitle">电影创业联盟</h5>
        </a>
        <a class="movieInfo">
          <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
          <h4 class="movieInfoMainstitle">电影创业联盟</h4>
          <h5 class="movieInfotitle">电影创业联盟 电影创业联盟</h5>
        </a>
        <a class="movieInfo">
          <img class="movieInfoImg" src="../assets/img/222.jpg" alt="电影创业联盟">
          <h4 class="movieInfoMainstitle">电影创业联盟</h4>
          <h5 class="movieInfotitle">电影创业联盟</h5>
        </a>
      </div>
      <!--艺人-->
      <h3 class="titleBox" style="margin-bottom: 26px">
        <span class="titleMain">艺人</span>
        <a class="morefont">更多 >></a>
      </h3>
      <div id="recommend_container" class="recommend-container">
        <div class="recommend-container-row clearfix">
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/222.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
          <div class="recommend-box">
            <div class="recommend-infobox explore small">
              <div class="recommend-data explore"></div>
              <h2><a>古装美女</a></h2>
              <p style="display:none;"><span>3259 关注</span></p>
            </div>
            <div class="info-tra-left"></div>
            <div class="recommend-infobox user small pl-right">
              <div class="recommend-data user"></div>
              <h2 class="user"><a>冰冻山楂柠檬</a></h2>
              <p><span>59656 采集</span><span>46991 粉丝</span></p>
            </div>
            <div class="info-tra-right"></div>
          </div>
          <div class="recommend-userbox recommend-box">
            <a class="avt">
              <img src="../assets/img/111.jpg" data-baiduimageplus-ignore="1">
            </a>
            <a style="background:url(//img.hb.aicdn.com/c4b2a81a0127465b4007169336110ccc44e75cbd2378-hvklUf_sq308bl20) no-repeat" class="avt-bg"></a>
          </div>
          <div class="recommend-hidebox pl-right">
            <div class="recommend-imgbox recommend-box">
              <a>
                <img src="../assets/img/222.jpg" data-baiduimageplus-ignore="1">
              </a>
            </div>
            <div class="recommend-infobox board recommend-box big">
              <div class="recommend-data board"></div>
              <h2><a>优秀APP应用</a></h2>
              <p><span>542 采集</span><span>4382 粉丝</span></p>
              <div class="info-tra-left big"></div>
            </div>
          </div>
        </div>
        <div class="recommend-container-row clearfix">
          <div class="recommend-hidebox pl-right">
            <div class="recommend-infobox board recommend-box pl-right big">
              <div class="recommend-data board"></div>
              <h2><a>狼狈的我们</a></h2>
              <p><span>40 采集</span><span>4027 粉丝</span></p>
              <div class="info-tra-right big"></div>
            </div>
            <div class="recommend-imgbox recommend-box">
              <a>
                <img src="../assets/img/111.jpg" data-baiduimageplus-ignore="1">
              </a>
            </div>
          </div>
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/222.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
          <div class="recommend-box">
            <div class="recommend-infobox board small">
              <div class="recommend-data board"></div>
              <h2><a>古风插画</a></h2>
              <p><span>348 采集</span><span>2198 粉丝</span></p>
            </div>
            <div class="info-tra-left"></div>
            <div class="recommend-infobox board small pl-right">
              <div class="recommend-data board"></div>
              <h2><a>【 A e s t h e t</a></h2>
              <p><span>158 采集</span><span>10561 粉丝</span></p>
            </div>
            <div class="info-tra-right"></div>
          </div>
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/111.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
        </div>
        <div class="recommend-container-row clearfix">
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/222.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
          <div class="recommend-box">
            <div class="recommend-infobox board small">
              <div class="recommend-data board"></div>
              <h2><a>【 C o l o r f u</a></h2>
              <p><span>1044 采集</span><span>373849 粉丝</span></p>
            </div>
            <div class="info-tra-left"></div>
            <div class="recommend-infobox board small pl-right">
              <div class="recommend-data board"></div>
              <h2><a>那一眼倾城</a></h2>
              <p><span>3919 采集</span><span>20993 粉丝</span></p>
            </div>
            <div class="info-tra-right"></div>
          </div>
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/111.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
          <div class="recommend-hidebox pl-right">
            <div class="recommend-imgbox recommend-box">
              <a>
                <img src="../assets/img/222.jpg" data-baiduimageplus-ignore="1">
              </a>
            </div>
            <div class="recommend-infobox board recommend-box big">
              <div class="recommend-data board"></div>
              <h2><a>多肉王国与疯狂的动物城</a></h2>
              <p><span>84 采集</span><span>1299 粉丝</span></p>
              <div class="info-tra-left big"></div>
            </div>
          </div>
        </div>
        <div class="recommend-container-row clearfix">
          <div class="recommend-hidebox pl-right">
            <div class="recommend-infobox explore recommend-box pl-right big">
              <div class="recommend-data explore"></div>
              <h2><a>极简摄影</a></h2>
              <p style="display:none;"><span>3561 关注</span></p>
              <div class="info-tra-right big"></div>
            </div>
            <div class="recommend-imgbox recommend-box">
              <a>
                <img src="../assets/img/111.jpg" data-baiduimageplus-ignore="1">
              </a>
            </div>
          </div>
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/222.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
          <div class="recommend-box">
            <div class="recommend-infobox board small">
              <div class="recommend-data board"></div>
              <h2><a>【 M i n i m a l</a></h2>
              <p><span>218 采集</span><span>10158 粉丝</span></p>
            </div>
            <div class="info-tra-left"></div>
            <div class="recommend-infobox board small pl-right">
              <div class="recommend-data board"></div>
              <h2>
                <a>鱼花画画</a>
              </h2>
              <p><span>113 采集</span><span>5629 粉丝</span></p>
            </div>
            <div class="info-tra-right"></div>
          </div>
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/111.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
        </div>
        <div class="recommend-container-row clearfix">
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/222.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
          <div class="recommend-box">
            <div class="recommend-infobox board small">
              <div class="recommend-data board"></div>
              <h2><a>风度☞</a></h2>
              <p><span>1832 采集</span><span>6643 粉丝</span></p>
            </div>
            <div class="info-tra-left"></div>
            <div class="recommend-infobox board small pl-right">
              <div class="recommend-data board"></div>
              <h2><a>❀ 视觉局部</a></h2>
              <p><span>3999 采集</span><span>4476 粉丝</span></p>
            </div>
            <div class="info-tra-right"></div>
          </div>
          <div class="recommend-imgbox recommend-box">
            <a>
              <img src="../assets/img/111.jpg" data-baiduimageplus-ignore="1">
            </a>
          </div>
          <div class="recommend-hidebox pl-right">
            <div class="recommend-userbox recommend-box">
              <a class="avt">
                <img src="../assets/img/222.jpg" data-baiduimageplus-ignore="1">
              </a>
              <a style="background:url(//img.hb.aicdn.com/f5386de72a43e94d7cc4b8cc972ad97ab95ebe7e8ac4-glEpb0_sq308bl20) no-repeat" class="avt-bg"></a>
            </div>
            <div class="recommend-infobox user recommend-box big">
              <div class="recommend-data user"></div>
              <h2 class="user">
                <a>SilenceMo</a>
              </h2>
              <p><span>103990 采集</span><span>44388 粉丝</span></p>
              <div class="info-tra-left big"></div>
            </div>
          </div>
        </div>
      </div>
      <!--合作专区-->
      <h3 class="titleBox">
        <span class="titleMain">合作专区</span>
        <a class="morefont">更多 >></a>
      </h3>
      <div class="frientListCont">
        <ul class="friendBox">
          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li style="margin-right: 0;"><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>

          <li><a href="" target="_blank"><img class="cooperate" src="http://img.xiankan.com/b61b2f3c095f2d306566.jpg"></a></li>
        </ul>
      </div>
    </div>
  </div>


</div>
