<div class="marginTop">
  <div class="content-body">
    <div class="invest-content" routerLink="/invest/investlist">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
    <div class="invest-content">
      <div class="invest-content-img">
        <img src="https://krplus-pic.b0.upaiyun.com/201802/27/552adecfddad7e07da8d31a52572c545.jpg" width="370" height="208" alt="">
      </div>
      <div class="invest-content-wrap">
        <div class="invest-content-item">
          <p>
            <span class="title">2018 创造者大赛上海站创造者大赛上海站</span>
            <span class="baoming">报名中</span>
          </p>
          <p class="about-wrap">
            由WeWork在全球发起，四大奖项百万奖金，致力于支持所有追梦者。
          </p>
          <p>

          </p>
        </div>
        <div class="specific">
          <p><span style="color: #999">地点：</span><span>上海</span></p>
          <p style="text-align: right"><span style="color: #999">时间：</span><span>3月6日</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
